# Dependencies
node_modules/

# Build Output
lib/

# Local/OS files
.DS_Store
*.tgz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/

# TypeScript/Build info
*.tsbuildinfo
.eslintcache

# Testing
coverage/
